@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
}
header{
    height: 15vh;
    background-color: #ff69ba;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media(max-width: 770px){
        flex-direction: column;
        height: 30vh;
    }
}
.Logo{
    width: 23vw;
    display: flex;
    align-items: center;
    color: white;
    @media(max-width: 700px) {
        flex-direction: column;
        width: 100%;
    }
    h1{
        font-size: 1.7vw;
        font-weight: 400;
        @media(max-width: 770px){
            font-size: 2.5vw;
        }
        @media(max-width: 500px){
            font-size: 3.1vw;
        }
    }
    img{

        @media(max-width: 1000px){
            width: 9vw;
        }
        @media(max-width: 770px){
            width: 12vw;
        }
        @media(max-width: 500px){
            width: 15vw;
        }
    }
}
nav{
    width: 40vw;
    @media(max-width: 770px){
        width: 100%;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5vw;
        @media(max-width: 770px){
            justify-content: space-evenly;
            font-size: 2.3vw;
        }
        @media(max-width: 500px){
            font-size: 3vh;
        }
        a{
            color: white;
            font-weight: 400;
        }
    }
}
.firstcontainer{
    width: 98.9vw;
    height: 58vh;
    background-color: #FFD9EC;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    p{
        width: 35vw;
        font-size: 1.5vw;
        font-weight: 400;
    }
}
.secondcontainer{
    width: 98.9vw;
    height: 40.3vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FF69B4;
    p{
        width: 35vw;
        font-size: 1.5vw;
        font-weight: 400;
        color: white;
    }
}
.container{
    width: 98.9vw;
    height: 58vh;
    background-color: #FFD9EC;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer{
    height: 22vh;
    background-color:#FF69B4;
    .Rodape{
        display: flex;
        align-items: center;
        justify-content: space-around;
        ul{
            font-size: 1.4vw;
            color: white;
            font-weight: 400;
            text-align: center;
        }
        .logorosa{
            display: flex;
            align-items: center;
        }
    }
}